{% extends "basic_generic.html" %}

{% block title %}<title>Авторизация</title>{% endblock %}

{% block content %}
<h1>Авторизация</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    <table>
        <tbody>
            {% for f in form %}
        <tr>
            <td>{{f.label}}</td>
            <td>{{ f }}</td>
        </tr>
            {% endfor %}
        </tbody>
    </table>


    <input type="submit" value="Войти">
</form>
{% endblock %}